/*
* styles for settings page
*/
#ftrdpsts_heading_featured_post {
	padding: 25px 10px;
	background-color: #ccc;
	max-width: 100%;
}
#ftrdpsts_heading_featured_post .widget_content {
    margin: 0 auto;
	text-align: center;
	padding-bottom: 15px;
	background-color: #aaa;
	max-width: 100%;
}
.ftrdpsts_code {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    font-size: 14px;
    margin: 0 1px;
    padding: 3px 5px 2px;
}